
@import url(./_normalize.scss);
@import url(./_vars.scss);


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none; 
   }

html,
body {
    min-height: 100vh;
    font-size: var(--main-font-size);
    background: var(--main-background);
    color: var(--main-color-text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.menu {
    max-width: 500px;
    display: flex;
    gap: 42px;
    list-style: none;   
}

.menu__item {
    display: block;
    position: relative;
}

.menu__item > a {
    color: #000000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.wrapper {
    padding-left: 135px;
}

.wrapper_search {
    padding-right: 84px;
}

.menu__item:hover::after {
    content: "";
    position: absolute;
    width: 60%;
    border: 1px solid #000000;
    left: 15%;
    bottom: -27%;
}

.first_screen {
    background-image: url('../assets/img/bg-image.png');
    background-size: cover;
    background-position: center;
    height: 600px; 
    width: 100%;
  }

h1 {
    padding: 100px 0px 380px 135px;
    font-family: Red Hat Display;
    font-size: 48px;
    font-weight: 600;
}

.blog_flex {
    display: flex;
    align-items: center;
    padding: 40px 0;
    gap: 30px;
}

h2 {
    padding: 90px 0px 50px;
    font-family: Red Hat Display;
    font-size: 48px;
    font-weight: 400;
    @media screen and (max-width: 768px) {
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

h3 {
    font-family: Red Hat Display;
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 15px;
}

h4 {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
}

p {
    padding-top: 50px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
    letter-spacing: 5%
}

.blog_flex {
    padding: 0 10px;
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        gap: 10px;
    }
}



